<div class="container">
    <h1>Blogs</h1>
    
    <div class="filters">
        <input [(ngModel)]="searchTitle" (input)="filterPosts()" type="text" placeholder="Título..."
        class="search-title">
        <select [(ngModel)]="selectedAuthor" (change)="filterPosts()" class="search-author">
            <option value="">Autor...</option>
            <option *ngFor="let author of authors" [value]="author._id">{{author.name}}</option>
        </select>
        <select [(ngModel)]="selectedCategory" (change)="filterPosts()" class="search-category">
            <option value="">Categoría...</option>
            <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
        </select>
    </div>

    <div class="rowloader" *ngIf="loader">
        <span class="loader"></span>
    </div>
    
    <div class="posts" *ngIf="!loader">
        <div *ngFor="let post of filteredPosts" class="post">
            <div class="post-header">
                <h2>{{post.title}}</h2>
                
            </div>
            <p [innerHTML]="post.content.substring(0, 150) + (post.content.length > 150 ? '...' : '')"></p>
            <div class="post-footer">
                <div class="post-info">
                    <span class="post-author">{{post.author.name}}</span>
                    <span class="post-category">{{post.category.name}}</span>
                </div>
                <a [routerLink]="['/blog-i', post._id]" class="view-post">Leer más...</a>
            </div>
            <p class="post-date">{{post.createdAt | date:'dd-MMMM-yyyy'}}</p>
        </div>
    </div>
</div>
