<footer class="footer">
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
        <li class="social-icon__item">
            <a class="social-icon__link" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
        <li class="social-icon__item">
            <a class="social-icon__link" href="#">
                <i class="fab fa-twitter"></i>
            </a></li>
        <li class="social-icon__item">
            <a class="social-icon__link" href="#">
                <i class="fab fa-linkedin-in"></i>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
                <i class="fab fa-instagram"></i>
            </a></li>
    </ul>
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Blogs</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Contáctanos</a></li>
        <li class="menu__item"><a class="menu__link" href="#">FAQ</a></li>
    </ul>
    <p class="copy">&copy;2023 Juan Villacob | All Rights Reserved</p>
</footer>