<div class="container">
  <h2>Autores</h2>
  <button (click)="crearNuevaEntrada()" class="btn btn-primary mb-4">
    Crear nueva entrada
  </button>

  <div class="row">
    <div class="col-md-6">
      <h3>Mis Noticias</h3>
      <div *ngFor="let noticia of noticias; index as i">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ noticia.titulo }}</h5>
            <button (click)="editarNoticia(i)" class="btn btn-success me-2">
              Editar
            </button>
            <button (click)="eliminarNoticia(i)" class="btn btn-danger">
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h3 class="mb-4">Mis Posts</h3>
      <div *ngFor="let post of posts">
        <div class="card mb-3 shadow">
          <div class="card-body">
            <h3 class="card-title">{{ post.title }}</h3>
            <h5 class="card-title text-muted">{{ post.category.name }}</h5>
            <h6 class="card-title text-muted" *ngIf="userRole === 'Admin'">
              <strong>Autor: </strong> {{ post.author.name }}
            </h6>
            <h6 class="card-title text-muted">{{ post.tags.join(", ") }}</h6>
            <p class="card-title text-muted">
              {{ post.createdAt | date : "medium" }}
            </p>
            <button
              (click)="editarPost(post._id ?? '')"
              class="btn btn-custom-success me-2"
            >
              Editar
            </button>
            <button
              (click)="eliminarPost(post._id ?? '')"
              class="btn btn-custom-danger"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
